{% extends 'base.html' %}
{% load static %}
{% block title %}About | Hope Haven Leadership Institute{% endblock %}

{% block content %}
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'images/about.jpg' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to Hope haven leadership Institute.</h1>
                <p class="mb-4">Supporting Students in Educational Transition.</p>
                <p class="mb-4">We work with students in their first post-secondary year to develop next-stage living skills including personal finance, cooking, navigating transportation options for commuting, and time management.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Enable students to take STEM classes 
                        and other courses online.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Offering leadership values to our students.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Be teacher assistants and offer skills 
                            as tutors in the evenings</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Tracking student performance 
                        at university and offering support</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Job opportunities serving as interns 
                        at local entrepreneurial businesses</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Training christian world leaders.</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->



<!-- Team Start -->
            <!-- Team Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
                        <h1 class="mb-5">Expert Instructors</h1>
                    </div>
                    <div class="row g-4">
                        {% for member in leadership_team %}
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-card bg-light rounded shadow-sm">
                                <div class="overflow-hidden">
                                    <img class="img-fluid" src="{{ member.image.url }}" alt="{{ member.name }}">
                                </div>
                                <div class="position-relative d-flex justify-content-center" style="margin-top: -30px;">
                                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                        <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="text-center p-4">
                                    <h5 class="mb-0">{{ member.name }}</h5>
                                    <small class="text-muted">{{ member.title }}</small>
                                    <p class="mt-2">{{ member.description }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Team End -->
<!-- Team end -->

{% endblock %}
